.products-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.products-container > div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.products-container > div input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.products-container > div button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #ec6c60;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.products-container > div button:hover {
  background-color: #e64c3c;
}

.products-container > h1 {
  align-self: center;
  font-size: 36px;
  color: #ec6c60;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.product-card {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-card h2 {
  font-size: 24px;
  color: #ec6c60;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.product-buttons {
  display: flex;
  margin-top: 10px;
}

.product-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #e64c3c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.product-buttons button:disabled {
  background-color: #ff6f61;
  cursor: not-allowed;
}

.add-product-link {
  align-self: flex-start;
  padding: 10px 20px;
  font-size: 18px;
  color: #ff6f61;
  text-decoration: underline;
}

.add-product-link:hover {
  color: #e64c3c;
  font-weight: bold;
}