.container-login {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-login > h2 {
  align-self: center;
  font-size: 36px;
  color: #ec6c60;
  margin-bottom: 20px;
}

.container-login > form {
  display: flex;
  flex-direction: column;
}

.container-login > form > input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container-login > form > button {
  padding: 15px 0;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #ff6f61;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container-login > button:hover {
  background-color: #e64c3c;
}

.container-login > div > p {
  font-size: 14px;
  color: #666;
}

.container-login > div > p a {
  color: #ff6f61;
  text-decoration: none;
}

.container-login > div > p a:hover {
  text-decoration: underline;
}